body{
    
    max-width: 1900px;
    margin: 0;
    background-color: #200A05;
    color: white;
    font-family: "Jost", sans-serif;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33,33,33);
    
}
header h1{
    margin-left: 50px;
}

#title{
    margin-left: 20px;
    flex-direction: column;
    line-height: 10px;
}

#title1{
    margin-left: 5px;
}

#text2{
    font-family: "Jost", sans-serif;
}

.textdeco{
    color: purple;
}

a{
    color: white;
}

a:hover{
    color: blueviolet;
}

li{
    display: inline-block;
    margin: 20px;
    margin-right: 50px;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    margin-left: 300px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

p{
    line-height: 20px;
    max-width: 500px;
    text-align: justify;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

article{
    margin-left: 60px;
    border-radius: 50px;
}

img{
    border-radius: 30px;
}